<!--<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        
        <%- include ('partials/messages') %>

        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name" 
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>-->

<!DOCTYPE html>
<html lang="fr-fr">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="" />
    <title>Inscription | HODNOS</title>
    <meta name="theme-color" content="#000000" />
    <meta property="og:url" content="https://www.hodnos.com/inscription.html" />
    <meta property="og:title" content="Inscription" />
    <meta property="og:description" content="..." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />


    <link rel="preconnect" href="https://www.google-analytics.com" />

    <link rel="stylesheet" href="https://media.hodnos.com/_components/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://media.hodnos.com/_components/select2/select2.min.css" />
    <link rel="stylesheet" href="https://media.hodnos.com/_components/css/global.min.css?v=2.0.7" />

    <script src="https://kit.fontawesome.com/5f42f63e72.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Open+Sans:wght@300;400;700;800&display=swap" media="none" onload="this.media = 'all'" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png%3Fv=gAe6veqEyq">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png%3Fv=gAe6veqEyq">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png%3Fv=gAe6veqEyq">
    <link rel="manifest" href="site.webmanifest%3Fv=gAe6veqEyq.html">
    <link rel="mask-icon" href="safari-pinned-tab.svg%3Fv=gAe6veqEyq.html" color="#ce181e">
    <link rel="shortcut icon" href="favicon.ico%3Fv=gAe6veqEyq">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <script>
        var K_VCOOKIES = {
            'pixel_fb': {
                'accept': false
            },
            'ganalytics': {
                'accept': false
            }
        };
    </script>
    <script src="https://media.hodnos.com/_components/js/dCkf7G-5668cD.min.js?v=2.0.7"></script>

    <!-- Facebook Pixel Code -->
    <script>
        K_VCOOKIES['pixel_fb']['function'] = function() {
            ! function(f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function() {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '216197125608040');
            fbq('track', 'PageView');
        }
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=216197125608040&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body id="page-2">
    <div class="super-container">
        <section class="bloc-top alignCenter">
            <h1 class="mainTitle">Inscription</h1>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="bloc-title bloc-title-register home-bullet">
                            <i class="icon-acc-customer"></i>
                            <div class="title">Je suis un client</div>
                            <p>Vous êtes un client et souhaitez booker un artiste? Inscrivez-vous gratuitement et réservez en quelques clics vos artistes préférés en toute sécurité.<br /></p>
                            <p>&nbsp;</p>
                            <a href="/users/register-client" class="btnRed">Inscription</a>
                            <p>&nbsp;</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="bloc-title bloc-title-register home-bullet">
                            <i class="icon-acc-artist"></i>
                            <div class="title">Je suis un artiste</div>
                            <p>Vous êtes un artiste et vous souhaitez augmenter votre nombre de bookings? Inscrivez-vous gratuitement et entrez en contact avec des milliers de clients.<br /></p>
                            <p>&nbsp;</p>
                            <a href="inscription-artiste.html" class="btnRed">Inscription</a>
                            <p>&nbsp;</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-lg-4">
                        <div class="bloc-title bloc-title-register home-bullet">
                            <i class="icon-acc-premium"></i>
                            <div class="title">Comptes premium</div>
                            <p>Vous êtes manager de plusieurs artistes? Inscrivez-vous et gérez les bookings de tous vos artistes sur la même interface. Simple, rapide et sécurisé.<br /></p>
                            <p>&nbsp;</p>
                            <a href="inscription-premium.html" class="btnRed">Inscription</a>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </section>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-5">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="social-list"><a href="#" target="_blank" title="facebook" rel="noreferrer nofollow noopener"><i class="icon-facebook"></i></a>
                        <a href="#" target="_blank" title="instagram" rel="noreferrer nofollow noopener"><i class="icon-instagram"></i></a>
                        <a href="#" target="_blank" title="twitter" rel="noreferrer nofollow noopener"><i class="icon-twitter"></i></a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 footer-bloc">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><a href="#" title="Accueil">Accueil</a></li>
                        <li><a href="#" title="Mon compte">Mon compte</a></li>
                        <li><a href="#" title="Comment ça marche?">Comment ça marche?</a></li>
                        <li><a href="#" title="Nous contacter">Nous contacter</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 footerReassurance">
                    <div class="col-xs-12 col-sm-6 col-md-12 footer-icons dollar">
                        <i class="icon-payment-secure"></i> Paiement securisé </div>
                    <div class="col-xs-12  col-sm-6 col-md-12 footer-icons shield">
                        <i class="icon-booking-tick"></i> Booking garanti par notre assurance </div>
                </div>
            </div>
            <div class="footerBar">
                <div class="right">
                    <ul>
                        <li><a href="cgu.html" title="Conditions générales d'utilisation">Conditions générales d'utilisation</a></li>
                        <li><a href="mentions-legales.html" title="Mentions légales">Mentions légales</a></li>
                    </ul>
                </div>
                <div class="clearAll"></div>
            </div>
        </div>
    </footer>



    <div class="modal fade" id="hodnosLogin" tabindex="-1" role="dialog" aria-labelledby="modalHodnosMusic">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-dialog" role="document">
            <div class="bloc-top alignCenter">
                <div class="modal-body">
                    <div class="mainTitle">Se connecter</div>
                    <form action="https://www.hodnos.com/inscription.html?customerLogin" method="post">
                        <div class="form-bloc">
                            <label>Email</label>
                            <input type="text" name="login[email]" />
                        </div>
                        <div class="form-bloc">
                            <label>Mot de passe</label>
                            <input type="password" name="login[password]" />
                            <div><a href="inscription.html%3FretrievePassword.html">Mot de passe oublié?</a></div>
                        </div>
                        <div class="form-bloc">
                            <button type="submit" class="btnRedFull">Connexion</button>
                        </div>
                        <p><br />Vous n'avez pas de compte? <a href="inscription.html%3FcreateAccount.html">Créer un compte</a></p>
                        <input type="hidden" name="page_after_login" value="" />
                    </form>

                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://media.hodnos.com/_components/bootstrap/js/bootstrap.min.js" async></script>




    <script src="https://media.hodnos.com/_components/lib/moment/moment.min.js"></script>



    <script type="text/javascript" src="https://media.hodnos.com/_components/js/jquery.form.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>




    <script type="text/javascript">
        $(document).ready(function() {
            $("#btnDeleteAccount").click(function() {
                return confirm("Êtes-vous sûr de vouloir supprimer votre compte ?");
            })

            moment.locale('fr');

            $(function() {
                $("#datepicker_from").datepicker({
                    dateFormat: 'dd/mm/yy',
                    minDate: 0,

                    onSelect: function(date) {
                        var date2 = $('#datepicker_from').datepicker('getDate');
                        date2.setDate(date2.getDate());
                        $('#datepicker_to').datepicker('setDate', date2);
                        //sets minDate to dt1 date + 1
                        $('#datepicker_to').datepicker('option', 'minDate', date2);
                    }
                });

                $("#datepicker_to").datepicker({
                    dateFormat: 'dd/mm/yy',
                    minDate: 0,

                    onClose: function() {
                        var dt1 = $('#datepicker_from').datepicker('getDate');
                        var dt2 = $('#datepicker_to').datepicker('getDate');

                        //check to prevent a user from entering a date below date of dt1
                        if (dt2 <= dt1) {
                            var minDate = $('#datepicker_to').datepicker('option', 'minDate');
                            $('#datepicker_to').datepicker('setDate', minDate);
                        }
                    }
                });


                $("#datepicker_birthdate").datepicker({
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1900:2002',
                    defaultDate: '1996-01-01',
                });


                $('b[role="presentation"]').hide();

                $("#datepicker_search").datepicker({
                    dateFormat: 'dd/mm/yy',
                    minDate: 0,
                });





                // fetch locale data internal structure, so we can shove it inside jQuery UI
                var momentLocaleData = moment.localeData();

                $.datepicker.regional['user'] = {
                    monthNames: momentLocaleData._months,
                    monthNamesShort: momentLocaleData._monthsShort,
                    dayNames: momentLocaleData._weekdays,
                    dayNamesShort: momentLocaleData._weekdaysMin,
                    dayNamesMin: momentLocaleData._weekdaysMin,
                    firstDay: momentLocaleData._week.dow,
                    dateFormat: 'yy-mm-dd' // "2016-11-22". date formatting tokens are not easily interchangeable between momentjs and jQuery UI (https://github.com/moment/moment/issues/890)
                };

                $.datepicker.setDefaults($.datepicker.regional['user']);

            });
        });

        /* FOR PROGRESS BAR */
        function upload_image() {
            var bar = $('#bar');
            var percent = $('#percent');

            $('#myFormVideo').ajaxForm({
                beforeSubmit: function() {
                    document.getElementById("progress_div").style.display = "block";
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                success: function() {
                    var percentVal = '100%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                complete: function(xhr) {
                    if (xhr.responseText) {
                        $('#field_video_hodnos_directory').val(xhr.responseText);
                        $('#send_video_hodnos').submit();
                    }
                }
            });
        }

        function upload_music() {

            var bar = $('#bar-music');
            var percent = $('#percent-music');

            $('#myFormMusic').ajaxForm({
                beforeSubmit: function() {
                    document.getElementById("progress_div_music").style.display = "block";
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                success: function() {
                    var percentVal = '100%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                complete: function(xhr) {
                    if (xhr.responseText) {
                        $('#field_music_hodnos_directory').val(xhr.responseText);
                        $('#field_music_title_hodnos_directory').val($('#add_music_name').val());
                        $('#send_music_hodnos').submit();
                    }
                }
            });
        }



        $(document).ready(function() {

            /* LOGIN */
            $("a[href^='#goToConnect']").click(function() {
                $('#hodnosLogin').modal('show');
                return false;
            });


            /* SEARCH HOVER BLOC ARTIST */
            /**** HUCAN $( ".search-result-bloc" ).hover(
                function() {
                    var id_artist_bloc = $(this).attr("data-artist-id");
                    $('#artist-detail-'+id_artist_bloc).show("slow");
                    $("#black-layout-"+id_artist_bloc).css({ 'background-color': '#000000' });
                    $("#artist-img-search-"+id_artist_bloc).fadeTo(1,0.5);
                }, function() {
                    var id_artist_bloc = $(this).attr("data-artist-id");
                    $('#artist-detail-'+id_artist_bloc).hide("slow");
                    $("#artist-img-search-"+id_artist_bloc).fadeTo(1,1);
                }
            ); /****/
            /* form submit booking step 1 */
            $("#submit_booking_step1").submit(function() {

                if ($('#place_id').val() == '' && typeof $("#user_input_autocomplete_address").attr("required") != 'undefined') {
                    alert('Veuillez choisir un lieu via la sélection');
                    return false;
                }


                $('#date_booking_selected').attr('readonly', false);
            });

            $('#user_input_autocomplete_address').on('change', function() {
                $('#place_id').val('');
            })



            /* VIDEO PLAYER */
            $('.video-thumb').click(function() {
                var video_url = $(this).attr("data-url");
                var video_type = $(this).attr("data-type");
                var video_id = $(this).attr("data-video-id");

                if (video_type == 'hodnos') {
                    $('#artist-video-content').html('<video src="https://www.hodnos.com/' & #32;+&# 32; video_url & #32;+&# 32;
                        '" controls autoplay></video>');
                } else {
                    $('#artist-video-content').html('<iframe src="https://www.hodnos.com/' & #32;+&# 32; video_url & #32;+&# 32;
                        '?autoplay=1" frameborder="0" allowfullscreen></iframe>');
                }

                $('.play-bloc').show();
                $('#play-bloc-' + video_id).hide();
            });


            /* AUDIO PLAYER */
            $('.audio-playlist-item').click(function() {
                var src = $(this).attr("data-src");
                var music_id = $(this).attr("data-id");

                $('#hodnos-audio-player').attr("src", src);
                $('#hodnos-audio-player').trigger("play");

                $('.fa-play-circle').hide();
                $('.play' + music_id).show();
            });



            /* FOR EDIT ARTIST PRICING */

            $("#add-pricing-line, #add-pricing-presta-line").click(function() {

                var line_template_for_pricing, $thisID = $(this).attr("id");

                if ($thisID == "add-pricing-line") {
                    line_template_for_pricing = $('#line_pricing_template').html();
                } else {
                    line_template_for_pricing = $('#line_pricing_presta_template').html();
                }

                // we get the actual pricing count
                var pricing_count = parseInt($('#actual_pricing_line').val());
                var newContent = line_template_for_pricing.replace(/%id%/g, pricing_count);


                $("#pricing-lines").append(newContent);

                $('#actual_pricing_line').val(pricing_count + 1);

            });

            $('.pricing-line-value').on("change", function() {

                var value = parseFloat($(this).val());
                var line_id = $(this).attr("data-line-id");

                if (value > 0) {
                    var newValue = value * 0.92 * 100;
                    newValue = Math.round(newValue);
                    newValue = newValue / 100;

                    $('#payment-bloc' + line_id).html($('#currency_logo').val() + ' ' + newValue);
                } else {
                    $('#payment-bloc' + line_id).html(' ');
                }
            });



            /* FOR EDIT ARTIST VIDEo */
            $("#add-video-line").click(function() {
                var line_template_for_video = $('#line_video_template').html();

                // we get the actual video count
                var video_count = parseInt($('#actual_video_line').val());
                var newContent = line_template_for_video.replace(/%id%/g, video_count);

                $("#video-lines").append(newContent);

                if (video_count == 8) {
                    $('#add-video-line').css('display', 'none');
                }

                $('#actual_video_line').val(video_count + 1);

            });

            /* FOR SEARCH VATEGORY */

            $('#search-cagegory').on('change', function() {
                var catID = $(this).val();
                var langCat = $('#lang-to-search').val();
                if (catID) {
                    $.ajax({
                        url: 'https://www.hodnos.com',
                        type: 'GET',
                        dataType: 'html',
                        data: 'ajax_categories=1&cat_to_search=' + catID + '&lang=' + langCat,
                        success: function(response) {
                            $('#search-sub-cagegory option:not(:first)').remove();
                            $('#search-sub-cagegory option:eq(0)').after(response);

                        }
                    });

                }
            });


            /* FOR SEARCH REGION */

            $('#search-country').on('change', function() {
                var countryID = $(this).val();
                if (countryID) {
                    $.ajax({
                        url: 'https://www.hodnos.com',
                        type: 'GET',
                        dataType: 'html',
                        data: 'ajax_region=1&region_to_search=' + countryID,
                        success: function(response) {
                            $('#search-region option:not(:first)').remove();
                            $('#search-region option:eq(0)').after(response);

                        }
                    });

                }
            });



            /* FOR EDIT ARTIST CATEGORY */
            $('#category1').on("change", function() {
                var cattype = $(this).val();
                var spanStore = $(this).attr("data-spanstore");
                var subCat = $(this).attr("data-subcat");

                if (cattype != '') {
                    $('.sub_cat1_form-bloc').show();
                } else {
                    $('.sub_cat1_form-bloc').hide();
                }

                optionswitch(cattype, spanStore, subCat, '');
            });

            $('#category2').on("change", function() {
                var cattype = $(this).val();
                var spanStore = $(this).attr("data-spanstore");
                var subCat = $(this).attr("data-subcat");

                if (cattype != '') {
                    $('.sub_cat2_form-bloc').show();
                } else {
                    $('.sub_cat2_form-bloc').hide();
                }

                optionswitch(cattype, spanStore, subCat, '');
            });

            if ($('#category1').val() == '') {
                $('.sub_cat1_form-bloc').hide();
            } else {
                optionswitch($('#category1').val(), 'option_stored_cat_1', 'sub_cat1', '');
            }

            if ($('#category2').val() == '') {
                $('.sub_cat2_form-bloc').hide();
            } else {
                optionswitch($('#category2').val(), 'option_stored_cat_2', 'sub_cat2', '');
            }
        });

        function optionswitch(myfilter, spanStore, subCat, selected) {
            //Populate the optionstore if the first time through
            if ($('#' + spanStore).text() == "") {
                $('option[class^="' + subCat + '-"]').each(function() {
                    var optvalue = $(this).val();
                    var optclass = $(this).prop('class');
                    var opttext = $(this).text();
                    optionlist = $('#' + spanStore).text() + "@%" + optvalue + "@%" + optclass + "@%" + opttext;
                    $('#' + spanStore).text(optionlist);
                });
            }
            //delete everything
            $('option[class^="sub-"]').remove();
            // put the filtered stuff back
            populateoption = rewriteoption(myfilter, spanStore, subCat, selected);
            $('#' + subCat).html(populateoption);
        }

        function rewriteoption(myfilter, spanStore, subCat, selected) {

            var already_selected = selected.split(",");

            //rewrite only the filtered stuff back into the option
            var options = $('#' + spanStore).text().split('@%');
            var resultgood = false;
            var myfilterclass = subCat + "-" + myfilter;
            var optionlisting = "";

            myfilterclass = (myfilter != "") ? myfilterclass : "all";
            //first variable is always the value, second is always the class, third is always the text
            for (var i = 3; i < options.length; i = i + 3) {
                if (options[i - 1] == myfilterclass || myfilterclass == "all") {

                    if (inArray(options[i - 2], already_selected)) {
                        var selected_value = 'selected';
                    } else {
                        var selected_value = '';
                    }

                    optionlisting = optionlisting + '<option value="' + options[i - 2] + '" class="' + subCat + '-' + options[i - 1] + '" ' + selected_value + '>' + options[i] + '</option>';
                    resultgood = true;
                }
            }
            if (resultgood) {
                return optionlisting;
            }
        }


        function arrayCompare(a1, a2) {
            if (a1.length != a2.length) return false;
            var length = a2.length;
            for (var i = 0; i < length; i++) {
                if (a1[i] !== a2[i]) return false;
            }
            return true;
        }

        function inArray(needle, haystack) {
            var length = haystack.length;
            for (var i = 0; i < length; i++) {
                if (typeof haystack[i] == 'object') {
                    if (arrayCompare(haystack[i], needle)) return true;
                } else {
                    if (haystack[i] == needle) return true;
                }
            }
            return false;
        }

        /* END FOR EDIT ARTIST CATEGORY*/
    </script>











    <script type="text/javascript">
        $(document).ready(function() {

            $(document).on('click', '.edit_fiche_menu', function() {
                var type = $(this).attr("data-type");

                $('.onglet_selected').val(type);

                $('.fiche_panel').css('display', 'none');
                $('#' + type).css('display', 'block');

                $('.edit_fiche_menu').removeClass('active');
                $(this).addClass("active");

                if (type == 'calendar') {
                    $('#save_artist_page_button').hide();
                } else {
                    $('#save_artist_page_button').show();
                }
            });


            $('.certified-block').hover(function() {
                $('.certified-desc', this).show();
            }, function() {
                $('.certified-desc', this).stop(true).hide();
            });
            $('.hodlist-toggle').hover(function() {
                $('.hodlist-toggle-desc', this).show();
            }, function() {
                $('.hodlist-toggle-desc', this).stop(true).hide();
            });
        });
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "HODNOS",
            "url": "www.hodnos.com"
        }
    </script>
</body>

</html>